/* Fonts import */
@font-face {
	/* Title font */
	font-family: '';
	src: url();

	/* Text font */
	font-family: '';
	src: url();
}







/* Styles classes */

.section {

}

.row {

}

.column {

}

/* Breakpoint */
@media all and (max-width:320px) {

}

@media all and (min-width: 321px) and (max-width: 480px) {

}

@media all and (min-width: 481px) and (max-width: 768px) {

}

@media all and (min-width:769px) and (max-width: 900px) {

}

@media all and (min-width: 901px) and (max-width: 1024) {

}

@media all and (min-width: 1025) and (max-width: 1280px) {
	
}


/* Media queries Level 4 */
@media (width <= 320px) {

}

@media (320px <= width <= 480px) {

}

@media (480px <= width <= 768px) {

}

@media (768px <= width <= 900px) {

}

@media (900px <= width <= 1024px) {

}

@media (1024px <= width <= 1280px) {

}